.collection-page {
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  margin: 0 auto;


  .title {
    font-size: 38px;
    margin: 0 auto 30px;
    color: white;

  }

  .items {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
